@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #131313;
  font-family: "Roboto", sans-serif;
}

.header {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.subheader {
  color: white;
  margin-top: 30px;
  text-align: center;
}

.pages {
  text-align: right;
  margin-top: 5px;
  color: white;
}

.divider {
  text-align: center;
  width: 300px;
  height: 25px;
}

.centered-text {
  text-align: center;
  color: #86868b;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.copyright {
  text-align: center;
  margin-bottom: auto;
  height: 1%;
  color: #7c7c81;
  font-size: x-small;
}

.list {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #86868b;
}

.link-list {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  color: #86868b;
}

.center {
  text-align: center;
}

.contacts {
  color: #86868b;
  text-align: center;
}

table,
th,
td {
  margin-top: 30px;
  border: 2px solid #2b2b2b;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
  color: #86868b;
}

h3 {
  color: #86868b;
}

a {
  color: #1561f0;
}

ul {
  color: #86868b;
}

li {
  color: white;
}
